openapi: 3.0.3
info:
  title: 0x Cross-Chain Sources API
  description: This is the official API reference for the latest 0x API (v2).
  version: v2
  x-source-url: https://github.com/0xProject/0x-docs/blob/main/fern/openapi.json
  x-last-validated: '2026-05-28'
servers:
- url: https://api.0x.org
tags:
- name: Sources
  description: Sources API endpoints
paths:
  /sources:
    get:
      operationId: sources::getSources
      summary: Get Liquidity Sources
      description: Get the list of supported sources
      tags:
      - Sources
      parameters:
      - description: Visit dashboard.0x.org to get your API Key
        in: header
        name: 0x-api-key
        required: true
        schema:
          type: string
      - description: API version
        in: header
        name: 0x-version
        required: true
        schema:
          type: string
          example: v2
      - name: chainId
        in: query
        required: true
        schema:
          type: integer
          exclusiveMinimum: true
          minimum: 0
        description: Chain ID. See [here](https://docs.0x.org/docs/introduction/supported-chains) for the list of supported chains
        example: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  sources:
                    type: array
                    items:
                      type: string
                    description: The array of liquidity sources aggregated by 0x for the requested chain
                  zid:
                    type: string
                    description: The unique ZeroEx identifier of the request
                required:
                - sources
                - zid
                additionalProperties: false
              example:
                sources:
                - 0x_RFQ
                - Ambient
                - BalancerV1
                - BalancerV2
                - BancorV3
                - Curve
                - DodoV1
                - DodoV2
                - FraxswapV2
                - Integral
                - Lido
                - MakerPsm
                - Maverick
                - Origin
                - PancakeSwapV3
                - RocketPool
                - SolidlyV3
                - SushiSwap
                - Synapse
                - UniswapV2
                - UniswapV3
                zid: '0x111111111111111111111111'
        '400':
          description: 400 error response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/INPUT_INVALID'
        '500':
          description: 500 error response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/INTERNAL_SERVER_ERROR'
                - $ref: '#/components/schemas/UNCATEGORIZED'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    UNCATEGORIZED:
      type: object
      properties:
        name:
          type: string
          enum:
          - UNCATEGORIZED
        message:
          type: string
        data:
          type: object
          properties:
            zid:
              type: string
              description: The unique ZeroEx identifier of the request
          required:
          - zid
          additionalProperties: false
      required:
      - name
      - message
      - data
      additionalProperties: false
    INPUT_INVALID:
      type: object
      properties:
        name:
          type: string
          enum:
          - INPUT_INVALID
        message:
          type: string
        data:
          type: object
          properties:
            zid:
              type: string
              description: The unique ZeroEx identifier of the request
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: The input field name
                  reason:
                    type: string
                    description: The validation failure reason
                required:
                - field
                - reason
                additionalProperties: false
              description: The list of invalid inputs
          required:
          - zid
          - details
          additionalProperties: false
      required:
      - name
      - message
      - data
      additionalProperties: false
    INTERNAL_SERVER_ERROR:
      type: object
      properties:
        name:
          type: string
          enum:
          - INTERNAL_SERVER_ERROR
        message:
          type: string
        data:
          type: object
          properties:
            zid:
              type: string
              description: The unique ZeroEx identifier of the request
          required:
          - zid
          additionalProperties: false
      required:
      - name
      - message
      - data
      additionalProperties: false
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: 0x-api-key
